
@{
    ViewBag.Title = "Create";
}

<h2>Create a Song Chord Set</h2>

<form action="/SongChord/Create" method="POST">
    <div>
        <label>Chord 1</label>
        <select name="ChordOne">
            <option value=1>A</option>
            <option value=2>Am</option>
            <option value=3>C</option>
            <option value=4>D</option>
            <option value=5>Dm</option>
            <option value=6>E</option>
            <option value=7>Em</option>
            <option value=8>F</option>
            <option value=9>G</option>
            <option value=10>D7</option>
        </select>
    </div>
    <div>
        <label>Chord 2</label>
        <select name="ChordTwo">
            <option value=1>A</option>
            <option value=2>Am</option>
            <option value=3>C</option>
            <option value=4>D</option>
            <option value=5>Dm</option>
            <option value=6>E</option>
            <option value=7>Em</option>
            <option value=8>F</option>
            <option value=9>G</option>
            <option value=10>D7</option>
        </select>
    </div>
    <div>
        <label>Chord 3</label>
        <select name="ChordThree">
            <option value=1>A</option>
            <option value=2>Am</option>
            <option value=3>C</option>
            <option value=4>D</option>
            <option value=5>Dm</option>
            <option value=6>E</option>
            <option value=7>Em</option>
            <option value=8>F</option>
            <option value=9>G</option>
            <option value=10>D7</option>
        </select>
    </div>
    <div>
        <label >Chord 4</label>
        <select name="ChordFour">
            <option value=1>A</option>
            <option value=2>Am</option>
            <option value=3>C</option>
            <option value=4>D</option>
            <option value=5>Dm</option>
            <option value=6>E</option>
            <option value=7>Em</option>
            <option value=8>F</option>
            <option value=9>G</option>
            <option value=10>D7</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Add Chord Set" />
    </div>
</form>

