@model IEnumerable<PassionProject.Models.SongDto>
@{
    ViewBag.Title = "List";
}
<nav>
    <ul>
        <li><a href="/Song/List">Songs</a></li>
        <li><a href="/Chord/List">Chords</a></li>
        <li><a href="/SongChord/List">Chord Sets</a></li>
    </ul>
</nav>

<h2>Songs</h2>

@foreach(var song in Model)
            {
                    <div>
                        <a href="/Song/Details/@song.SongID"><h3>@song.SongName</h3></a>
                        <ul>
                            <li>Artist: @song.SongArtist</li>
                            <li>Difficulty: @song.SongDifficulty</li>
                            <li>Chord Code: @song.SongChords</li>
                        </ul>
                    </div>
            }

<div><a href="/Song/New">Add a new Song</a></div>

